.add-btn{
    height:50px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 100px;
    }
    .add-btn:hover{
    cursor: pointer;
    }
    .add-btn:active{
    transform: scale(0.9);
    }
    

   
   

body{
    background-color: rgb(236, 238, 240);
}